body {
    background-color : #2b2727;
    font-family      : Kalinga, serif;
}

img.centree {
    margin : 400px auto 0;
}
img.machette {
    margin-top: -107px;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(-57deg);
    width: 30px;
    margin-left: 53%;
}
p.text-construction {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    color: #fff;
    font-family: kalinga,sans-serif;
}

.text-contact {
    font-family: Aileron,sans-serif;
    font-size: 69px;
    color: #fff;
}
.input-contact {
    background-color: #383334;
    border: #383334;
    height: 58px;
    border-radius: 0;
    margin-top: 30px;
    color:#fff;
    padding-left: 30px;
}

.input-contact::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    font-size: 23px;
    opacity: 0.61;
}

::-moz-placeholder { /* Firefox 19+ */
     color: #fff;
    font-size: 23px;
    opacity: 0.61;
}

:-ms-input-placeholder { /* IE 10+ */
     color: #fff;
    font-size: 23px;
    opacity: 0.61;
}

:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-size: 23px;
    opacity: 0.61;
}


.input-textarea {
    height: 305px;
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;
    height: 250px !important;
}

.send {
    width: 277px;
    height: 50px;
    background-color: #ef3054;
    border: none;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 0px;
}

.form {
    margin-top: 50px;
}

@media screen and (max-width: 1200px) {
    .group {
        margin-top: 30px;
        margin-left: 0;
    }
    .input-mail {
        width: 277px;
    }
    .input-textarea {
        width: 277px;
    }
}

.firstbr {
    display: none;
}

@media screen and (max-width: 1700px) {
    .firstbr {
        display: block;
    }
    .group {
        margin-top: 20px;
        margin-left: 0;
    }
}

.mgtop {
    margin-top: 100px;
}

textarea#userbundle_contact_message {
    width: 100%;
}
