@font-face {
    font-family : Aileron;
    src         : url(../fonts/Ailerons.ttf);
}

body { background-image : url(../images/texture.jpg); }

h1 { font-family :Aileron, sans-serif; }

h3 {
    text-align : center;
    margin     : 0;
}

.submit {
    background-color : #0F7173;
    color            : #FFFFFF;
    font-family      : Arial, sans-serif;
    width            : 250px;
    height           : 66px;
    border           : 5px solid #0F7173;
    padding          : 0;
    text-transform   : uppercase;
    margin           : 50px 0 0;
    border-radius    : 5px;
}

.disponible-carre {
    height           : 30px;
    background-color : #0F7173;
    border-radius    : 5px;
}

i.fa.fa-square-o {
    font-size   : 17px;
    margin-left : 10px;
    color       : #FFFFFF;
}

a > i.fa.fa-facebook {
    margin-top : 50px;
    font-size  : 40px;
    color      : black;
    opacity    : 0.4;
}

a > i.fa.fa-facebook:hover {
    color   : #3B5998;
    opacity : 1;
}

a > i.fa.fa-twitter {
    margin-top : 50px;
    font-size  : 40px;
    color      : black;
    opacity    : 0.4;
}

a > i.fa.fa-twitter:hover {
    color   : #3AAAE1;
    opacity : 1;
}

a > i.fa.fa-instagram {
    margin-top : 50px;
    font-size  : 40px;
    color      : black;
    opacity    : 0.4;
}

a > i.fa.fa-instagram:hover {
    color   : #654AC1;
    opacity : 1;
}

.travel-images img { max-width : 250px; }

.favorite-link {
    text-decoration : none;
    color : #333333;
}

.favorite-link:hover {
    color : #333333;
}

.row-parameters div {
    margin-bottom: 10px;
    min-height: 30px;
    padding-top: 5px;
}