@font-face {
    font-family : Aileron;
    src         : url(../fonts/Ailerons.ttf);
}

.first {
    background      : url("../images/image_page_accueil.jpg") no-repeat;
    background-size : cover;
    max-width       : 100%;
    text-align      : left;
    padding-top     : 7%;
    color           : white;
    margin-top      : -20px;
    font-size       : 25px;
    height          : 70vh;
}

.second {
    background-color : #F5F5F6;
    min-height       : 65vh;
    padding-bottom   : 20px;
}

.troisieme {
    background-image : url("../images/motifs_video.jpg");
    max-width        : 100%;
    min-height       : 800px;
}

.quatrieme {
    background-color : #E8E9EB;
    max-width        : 100%;
    text-align       : center;
    height           : 100vh;
    display          : none
}

.bx-wrapper {
    background : #E8E9EB;
    border     : none;
}

.quatrieme .bx-wrapper {
    background         : #E8E9EB;
    border             : 5px solid #E8E9EB;
    -webkit-box-shadow : 0 0;
    -moz-box-shadow    : 0 0;
    box-shadow         : 0 0;
}

.avis {
    background-color : #E8E9EB;
}

.btn-completer-profil {
    margin-left   : 0;
    width         : 300px;
    border-radius : 0;
    margin-top    : 120px;
}

.concept div {
    color       : #000000;
    font-family : Kalinga, sans-serif;
    text-align  : center;
    font-weight : bolder;
}

.third {
    background     : #EF3054;
    padding-bottom : 50px;
}

.thumbnail a > img, .thumbnail > img {
    max-height : 300px;
}

.thumbnail h3 {
    margin-top  : 10px;
    text-align  : left;
    font-weight : bold;
    padding     : 15px;
}

.thumbnail h3 a {
    color : #000000;
}

.thumbnail {
    margin-right   : 20px;
    padding-bottom : 50px;
}

.thumbnail .caption {
    padding : 15px;
}

.button {
    background-color : #E7BB41;
    color            : white;
    min-width        : 174px;
    height           : 40px;
    border           : none;
    padding-top      : 10px;
    font-size        : 15px;
    font-weight      : bolder;
    border-radius    : 0;
    margin-top       : 50px;
}

.thumbnail .button {
    position    : absolute;
    bottom      : 10px;
    margin-left : 10px;
    padding-top : 10px;
}

.button:hover { background-color : #E7BB41; }

.row-title {
    text-align     : center;
    text-transform : uppercase;
    margin-bottom  : 40px;
    font-family    : Aileron, sans-serif;
    color          : #878289;
}

.row-title h1 {
    font-size : 69px;
}

.row-title i {
    margin-top : 30px;
}

.row-title.white i, .row-title.white h1 {
    color : #FFFFFF;
}

.picto {
    width  : 180px;
    height : 180px;
}

@media (max-width : 992px) {
    .btn-center {
        text-align : center;
    }

    .thumbnail {
        padding-bottom : 0;
    }

    .thumbnail .button {
        position   : relative;
        margin-top : 20px;
    }
}

