@font-face {
    font-family : Aileron;
    src         : url(../fonts/Ailerons.ttf);
}

.first {
    background      : url("../images/fond.png") no-repeat fixed;
    background-size : cover;
    max-width       : 100%;
    text-align      : left;
    padding-top     : 7%;
    color           : white;
    margin-top      : -20px;
    font-size       : 23px;
    padding-top: 144px;
    padding-bottom: 144px;
}

.first h2 {
    font-size : 69px;
    font-family: Aileron, sans-serif;
    text-align: center;
}

.second {
    background      : url("../images/fond-concept.jpg") no-repeat;
    min-height       : 65vh;
    padding-bottom   : 20px;
}

.troisieme {
    background-image : url("../images/motifs_video.jpg");
    max-width        : 100%;
    min-height       : 800px;
}

.quatrieme {
    background      : url("../images/fond-avis.jpg") no-repeat;
    max-width        : 100%;
    text-align       : center;
    height           : auto;
    display          : block;
}

.bx-wrapper {
    background : #E8E9EB;
    border     : none;
}

.quatrieme .bx-wrapper {
    background         : #E8E9EB;
    border             : 5px solid #E8E9EB;
    -webkit-box-shadow : 0 0;
    -moz-box-shadow    : 0 0;
    box-shadow         : 0 0;
}

.avis {
    background-color : #E8E9EB;
}

.btn-completer-profil {
    margin-left   : 0;
    width         : 300px;
    border-radius : 0;
    margin-top    : 120px;
}

.concept div {
    color       : #000000;
    font-family : Kalinga, sans-serif;
}

span.text {
    font-size: 23px;
    line-height: 1.35;
    text-align: left;
}

.third {
    background     : #EF3054;
    padding-bottom : 50px;
}

.thumbnail a > img, .thumbnail > img {
    max-width: 100%;
    height: auto;
    width: 397px;
    height: 397px;
}

.thumbnail h3 {
    margin-top  : 10px;
    text-align  : left;
    font-weight : bold;
    padding     : 15px;
    font-family: Kalinga,sans-serif;
}

.thumbnail h3 a {
    color : #000000;
}

.thumbnail {
    margin-right   : 20px;
    padding-bottom : 50px;
}

.thumbnail .caption {
    padding : 15px;
}

.button {
    background-color : #E7BB41;
    color            : white;
    border           : none;
    font-weight      : bolder;
    border-radius    : 0;
    margin-top       : 80px;
    font-family: Kalinga,sans-serif;
    font-size: 24px;
    font-weight: bold;
    width: 255px;
    height: 78px;
    padding-top: 25px !important;
}

.thumbnail .button {
    position    : absolute;
    bottom      : 10px;
    margin-left : 10px;
    padding-top : 10px;
}

.button:hover { background-color : #E7BB41; color: #fff;}

.row-title {
    text-align     : center;
    text-transform : uppercase;
    margin-bottom: 0;
    font-family    : Aileron, sans-serif;
    color          : #878289;
}

.row-title h1 {
    font-size : 69px;
    letter-spacing: 15.2px;
}

.row-title i {
    margin-top : 90px;
}

.row-title.white i, .row-title.white h1 {
    color : #FFFFFF;
}

.picto {
    width  : 280px;
    height : 280px;
}

@media (max-width : 992px) {
    .btn-center {
        text-align : center;
    }

    .thumbnail {
        padding-bottom : 0;
    }

    .thumbnail .button {
        position   : relative;
        margin-top : 20px;
    }
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
    font-family: Kalinga,sans-serif;
}

h4.text-picto {
    font-family: Kalinga;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.35;
    text-align: left;
    color: #000000;
}

.btn-login {
    width: 174px;
    height: 46px;
    font-size: 23px;
    line-height: 1.13;
    padding-top: 15px !important;
    background-image: none;
    margin-bottom: 90px !important;
}

.concept-picto {
    margin-top: 80px;
}

.avis-title {
    color: #878289 !important;
}

.avis-img {
    margin: 0 auto;
    max-width: 100%;
    width: 107px;
}


section {
    padding-top: 100px;
    padding-bottom: 0;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}


#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #878289;
  border: none;
}
#fade-quote-carousel.carousel .carousel-indicators > li.active{
  background-color: #e7bb41;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
}

.avis-p {
  font-family: Kalinga;
  font-size: 23px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
}

.elements-avis {
     background-color: #fff;
     border : 6px solid #ef3054;
    padding:30px;
}

.name {
  font-family: Kalinga;
  font-size: 37px;
  font-weight: bold;
  text-align: center;
  color: #ef3054;
}

.img-avis {
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

.input-home {
    width: 289px;
    height: 84px;
    background-color: #f5f5f5;
}


.input-home::placeholder {;
  font-family: Kalinga;
  font-size: 14px;
  line-height: 2.04;
  text-align: left;
  color: #878289;
}

button.btn.btn-default {
    width: 289px;
    height: 84px;
    background: #ef3054 !important;
    border: none;
    font-family: Kalinga;
    font-size: 23px;
    line-height: 2.04;
    text-align: center;
    color: #ffffff;
}


.remove-padding {
    padding: 0;
}

label.control-label {
    display: none;
}

.add-border {
    border: 8px solid #efefef;
    border-bottom: none;
}
.btn-completer-profil {
    width: 350px;
    background-image: none;
}

.concept-img {
    width: 50px;
    margin-top: 50px;
}

h1.h1-sorties {
    margin-bottom: 100px;
}

.remove-pdg {
    padding: 0;
}

.test {
    padding: 0;
}

.items-home {
    background: #efefef;
}


.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}

.test-span {
    padding:4px 10px;
    text-align:center;
}