@font-face {
    font-family: Aileron;
    src: url(../fonts/Ailerons.ttf);
}

body {
    background-color : #E7E3E0;
    font-family         : Aileron, serif;
}

h3 {
    color      : #4D5D8A;
    text-align : center;
}

.thumbnail {
    background-color : #E7E3E0;
    border           : none;
}

.img-thumbnail, .thumbnail {
    -webkit-box-shadow : none;
    box-shadow         : none;
}

i.fa.fa-globe {
    font-size   : 35px;
    margin-left : 20px;
    float       : left;
    padding-top : 4px;
}

.h2, h2 {
    font-size    : 26px;
    color        : #4D5D8A;
    padding-left : 60px;
    padding-top  : 9px;
}

.overlay {
    text-align : center;
    height     : 200px;
}

.overlay:hover .img-responsive {
    /** Chrome **/
    -webkit-transition : -webkit-filter 500ms linear;
    -webkit-filter     : brightness(0.25);
    transition         : filter 500ms linear;
    transition         : -webkit-filter 500ms linear;
    /** Firefox **/
    -moz-transition    : filter 500ms linear;
    filter             : brightness(0.25);
    /** Opera **/
    -o-transition      : -o-filter 500ms linear;
    -o-filter          : brightness(0.25);
    background-color   : rgba(0, 0, 0, 0.5);
}

.overlay:hover .text-content {
    visibility : visible;
}

.text-content hr { width : 250px; }

.text-content a, .text-content a:hover {
    color : #FFFFFF;
}

span.text-content {
    color      : #FFFFFF;
    cursor     : pointer;
    display    : table;
    position   : absolute;
    left       : 0;
    right      : 0;
    top        : 60px;
    width      : 100%;
    height     : inherit;
    visibility : hidden;
}

span.text-content span {
    text-align     : center;
    vertical-align : middle;
}

.overlay .img-responsive {
    max-height : 200px;
}

.option-border {
    background    : transparent;
    border        : none;
    box-shadow    : none;
    border-bottom : 1px solid #292929;
    border-radius : 0;
}

.btn-valider {
    background     : #067274;
    color          : #FFFFFF;
    width          : 110px;
    text-transform : uppercase;
    border-radius  : 0;
    margin-left    : 20px;
}

.nb-places { position : absolute; }

.block-list {
    margin-top: 10%;
    margin-left: 3%;
}

@media (min-width: 1200px) {
    .block-list {
        margin-top: 5%;
    }
}

