@font-face {
    font-family : Kalinga;
    src         : url(../fonts/kalinga.ttf);
}

body {
    background : url("../images/fondnousrejoindre.jpg") no-repeat center center fixed;
}

h1 {
    color: #fff;
    font-family: Aileron, sans-serif;
    font-size: 69px;
}

h3 {
    color : #fff;
    font-family: Kalinga, sans-serif;
    font-size: 33px;
    font-weight: bolder;
}

.block-nousrejoindre {
    margin-top: 80px;
}

.block-nousrejoindre p {
    color: #fff;
    font-family: Kalinga, sans-serif;
    font-size: 23px;
}

.block-nousrejoindre h3 {
    font-size: 26px;
}

.input-nousrejoindre {
    opacity: 0.6;
    background: rgba(255, 255, 255, 0.5);
    height: 78px;
    color: #fff;
     font-size: 22px;
    border-radius: 0;
}

.input-nousrejoindre::placeholder {
  font-family : Kalinga, sans-serif;
  font-weight   : bold;
  font-size     : 23px;
  color         : #fff;
}

.input-nousrejoindre.send {
    font-family :Kalinga, sans-serif;
    font-weight :bold;
}

.input-description {
    height: 273px !important;
}

hr {
    margin-top: 50px;
    padding-bottom: 50px;
}

.send {
    font-size: 30px !important;
    text-transform: uppercase;
    margin-bottom: 70px !important;
    margin-top: 50px;
}