<link href="{{ asset("assets/app/css/basic.css") }}" rel="stylesheet">

<div id="footer">
    <div class="containerfooter">
        <div class="row">
            <img src="{{ asset("assets/app/images/logo.png") }}" alt="logo-footer" class="logo-footer img-responsive hidden-xs"/> 
            <span class="span-footer">ALL RIGHTS RESERVED. COPYRIGHT © 2016</span>
            <ul class="list-inline">
                <li>
                    <a href="#" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>