<footer class="footer">
    <div class="container-fluid text-center">
        <img src="{{ asset("assets/app/images/logo.png") }}" alt="logo-footer" class="width75 margin-top60"/> 
        <div class="span-footer"><span>ALL RIGHTS RESERVED. COPYRIGHT © 2016</span></div>
        <ul class="list-inline">
            <li><a href="#" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-fw fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>