{% stylesheets '@AppBundle/Resources/public/css/basic.css' output='compiled/css/main.css' filter='cssrewrite' %}
<link href="{{ asset_url }}" rel="stylesheet">
{% endstylesheets %}

<div id="footer">
      <div class="containerfooter">
        <div class="row">
            {% image '@AppBundle/Resources/public/images/logo.png' output='compiled/images/logo.png' %} 
                <img src="{{ asset_url }}" alt="logo-footer" class="logo-footer img-responsive hidden-xs"/> 
            {% endimage %}
            <span class="span-footer">ALL RIGHTS RESERVED. COPYRIGHT © 2016</span>
                <ul class="list-inline">
                     <li>
                         <a href="" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                     <li>
                        <a href="" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                    </li>
             </ul>
        </div>
      </div>
</div>