{% stylesheets '@AppBundle/Resources/public/css/basic.css' output='compiled/css/main.css' filter='cssrewrite' %}
<link href="{{ asset_url }}" rel="stylesheet">
{% endstylesheets %}


<div class="container-fluid">container-fluid</div>
<div class="container">container</div>