<ul class="liste-profile text-center">
    <li><a href="{{ path("fos_user_profile_show") }}">Mon profil</a></li>
    <li><a href="{{ path("orders") }}">Mes listes de sorties</a></li>
    <li><a href="{{ path('favorites') }}">Mes favoris</a></li>
</ul>
