<ul class="liste-profile text-center">
    <li><a href="{{ path("fos_user_profile_show") }}">Mon profil</a></li>
    <li><a href="#">Mes listes de sorties</a></li>
    <li><a href="#">Mes favoris</a></li>
</ul>
