body{ background: url("../images/connexion.jpg") no-repeat center center fixed; }

.form{
    text-align: center;
    margin-top: 5%;
}

h1{
    text-align: center;
    color: white;
    margin-top: 5%;
}

.login_form_control{
    height :50px;
    border-radius: 10px;
}

.login_form_control.connect{
    background-color: coral;
    border : 0;
}

.login_link{ color: white; }

#footer{ margin-top: 20%; }