@font-face {
    font-family: Aileron;
    src: url(../fonts/Ailerons.ttf);
}



body{ background: url("../images/connexion.jpg") no-repeat center center fixed; }

.form{
    text-align: center;
    margin-top: 5%;
}

h1{
    text-align: center;
    color: white;
    margin-top: 5%;
    font-family: 'Aileron',sans-serif;
    font-size: 60px;
}

.login_form_control{
    height :50px;
    border-radius: 10px;
}

.login_form_control.connect{
    background-color: #f02d54;
    color: #fff;
    border : 0;
}

.login_link{ color: white; }

.decalage {
    margin-bottom: 150px;
}