body {
    background  : url("../images/profile.png") no-repeat center center fixed;
    font-family : Kalinga, serif;
}

@font-face {
    font-family : Aileron;
    src         : url(../fonts/Ailerons.ttf);
}

@font-face {
    font-family : Kalinga;
    src         : url(../fonts/Kalinga.ttf);
}

div.container {
    background-color : #FFFFFF;
    margin-top       : 30px;
    margin-bottom    : 30px;
}

div.container div.container-header {
    border-top       : 5px solid #E7BB41;
    background-color : #FFFFFF;
    color            : #878289;
    width            : 100%;
    float            : left;
}

.h2-title {
    text-transform : uppercase;
    text-align     : center;
    font-family: Aileron, serif;
    font-size: 49px;
    color: #EF3054;
}

.user-infos {
    float       : left;
    margin-top  : 50px;
    margin-left : 40px;
    color       : #878289;
    font-weight : bold;
}

.element-profil {
    font-size      : 27px;
    text-transform : uppercase;
}

.date-element {
    font-size : 24px;
}

.edit-profile {
    font-size    : 30px;
    color        : #8C878E;
    float        : right;
    margin-top   : 20px;
    margin-right : 15px;
}

i.fa.fa-ban {
    font-size   : 30px;
    color       : #8C878E;
    float       : right;
    margin-top  : 12px;
    margin-left : -34px !important;
}

.size-colonne {
    min-height : 600px;
}

span.select2-selection.select2-selection--multiple,
span.select2-selection.select2-selection--single {
    border        : none;
    border-bottom : 1px solid black;
}

input.form-control, select.form-control {
    border        : none;
    box-shadow    : none;
    border-bottom : 1px solid black;
}

.btn-form {
    background     : #EF3054;
    height         : 45px;
    border-radius  : 0;
    font-size      : 20px;
    color          : #FFFFFF;
    text-transform : uppercase;
}

.btn-cancel {
    color          : #067274;
    background     : #FFFFFF;
    text-transform : uppercase;
}

.btn-cancel:hover {
    color          : #067274;
    background     : #FFFFFF;
    text-transform : uppercase;
}

.btn-cancel a {
    text-decoration : none;
}

.liste-profile {
    margin-top : 30px;
}

.liste-profile li {
    display      : inline-block;
    margin-right : 60px;
}

.liste-profile li a {
    color       : #68646A;
    font-family : Kalinga, serif;
    font-size   : 20px;
    font-weight : bold;
}

.liste-profile li a:hover {
    border-bottom   : 1px solid #EF3054;
    text-decoration : none;
}


.delete_link, .view_link {
    background         : #F4F4F4 none;
    color              : #444;
    border-radius      : 3px;
    -webkit-box-shadow : none;
    box-shadow         : none;
    border             : 1px solid #ddd;
}