.container{
    color: white;

}

.form{
    width: 500px;
    margin-left:28%;
}

body{
    background-image: url("../images/inscription.jpg");

}

.center{
    padding-top: 20%;
}

.color-button{
    background-color: #4c5c8a;
}

.tinder{
    color: deepskyblue;
}

.button {
    width            : 100%;
    background-color : orange;
}
.compte{
    color : white;
    padding-top: 1%;
}
