body { background : url("../images/inscription.png") no-repeat center center fixed; }

h1 {
    text-align : center;
    color      : white;
    margin-top : 5%;
}

.container, .container a { color : white;
margin-bottom: 140px;}

.form {
    width       : 500px;
    margin-left : 28%;
}

.tinder { color : deepskyblue; }

.login_form_control {
    height        : 50px;
    border-radius : 10px;
}

.login_form_control.connect {
    background-color : coral;
    border           : 0;
    color            : white;
}

input[type=submit] { text-transform : uppercase; }
