@font-face {
    font-family: Aileron;
    src: url(../fonts/Ailerons.ttf);
}


body { background : url("../images/inscription.png") no-repeat center center fixed; }

h1 {
    text-align : center;
    color      : white;
    margin-top : 5%;
}

.container, .container a { color : white;
margin-bottom: 140px;}

.form {
    width       : 500px;
    margin-left : 28%;
}

.tinder { color : deepskyblue; }

.login_form_control {
    height        : 50px;
    border-radius : 10px;
}

.login_form_control.connect {
    background-color : #f02d54;
    border           : 0;
    color            : white;
}

input[type=submit] { text-transform : uppercase; }

 .h1-register {
    font-family: 'Aileron', sans-serif;
    font-size: 60px;
}

.h2-register {
    font-family: 'Aileron', sans-serif;
    color: #b5dedf;
    line-height: 100px;
}