.first{
    background-image: url("../images/image_page_accueil.jpg ");
    max-width: 100%;
    min-height: 700px;
    text-align: left;
    padding-top: 10%;
    color: white;
    margin-top :-20px;


}

.second{
    background-color: #e0dfd5;
    max-width: 100%;


}

.troisieme{
    background-image: url("../images/motifs_video.jpg ");
    max-width: 100%;
    min-height:800px;
}

.quatrieme{
    background-color: #e8e9eb;
    max-width: 100%;
    text-align: center;
}

.icone1{
    padding-left: 50%;
    width: 20px;
}



.pantheon{
    width: 200px;
    height: 200px;
}

.avion{
    width: 200px;
    height: 200px;
}

.Ami{
    width: 200px;
    height: 200px;
    padding-left: 10%;
}

.h1{
    text-align: center;
    color: #e6735c;
}

.concept{
    margin-left: 150px;
}

.button{
    margin-top: 5%;
    background-color: #e6735c;
    color: white;
    margin-left: 50%;
}

.avis{
    background-color: #e8e9eb;
}

.video{
    background-color: #0f7173;
}

.video-concept{
    width: 800px;
    height: 400px;
    margin-left: 400px;
}

.symbole{
    color: #e6735c;
    margin-left: 49%;

}

.ticket{
    color: white;
    margin-left: 49%;
}

.h1-video{
    text-align: center;
    color: white;
}
