@font-face {
    font-family: Aileron;
    src: url(../fonts/Ailerons.ttf);
}

body{
    background-image: url(../images/texture.jpg);
    height: 100%;
}

h3{
    text-align: center;
    margin: 0;
}
.margin-p{
    margin-top :50px;
    font-size: 18px;
}
.navbar-default .navbar-brand {
     color: #272c3b;
}
.bouton{
    margin-right: 1%;
    font-size: 16px;
}

.titre{
    margin-left: 20%;
    font-family: Aileron;
    font-size: 54px;
}

.col-sm-2 {
	float: right;
	margin-top: 50px;
}
.img-responsive {
    margin-left: 16px;
}
.bloc-left {
    height: 500px;
    max-width: 600px;
    margin-top: -50px;
}

.bloc-right {
    position: absolute;
    float: left;
    height: 400px;
    top: 16%;
    left: 20%;
}

img.img-responsive.yop {
    position: relative;
    float: left;
    margin-top: -195px;
    margin-left: 331px;
}

.submit {
    background-color: #0f7173;
    color: #FFF;
    font-family: Arial;
    width: 250px;
    height: 66px;
    border: 5px solid #0f7173;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin-top: 50px;
    border-radius: 5px;
}

.decalage {
    margin-left: 196px;
    width: 100%;
}
.disponible-carre {
    width: 150px;
    height: 30px;
    background-color: #0f7173;
    border-radius: 5px;
}
i.fa.fa-square-o {
    font-size: 17px;
    margin-top: 5px;
    margin-left: 10px;
    color: #fff;
}
#span-check {
    font-size: 16px;
    color: #fff;
    font-family: arial;
    text-transform: uppercase;
}
.responsive-rs {
    margin-top: 50px;
}

a > i.fa.fa-facebook {
    margin-top: 50px;
    font-size: 40px;
    color:black;
    opacity: 0.4;
}
a > i.fa.fa-facebook:hover {
   color: #3b5998;
   opacity:1 ;
}
a > i.fa.fa-twitter {
    margin-top: 50px;
    font-size: 40px;
    color:black;
    opacity: 0.4;
}
a > i.fa.fa-twitter:hover {
    color: #3aaae1;
    opacity:1 ;
}
a > i.fa.fa-instagram {
    margin-top: 50px;
    font-size: 40px;
    color:black;
    opacity: 0.4;
}
a > i.fa.fa-instagram:hover {
    color: #654ac1;
    opacity:1 ;
}
 img.img-bot {
    display: none;
}

@media screen and (min-width: 801px) and (max-width: 1240px) { 
    .bloc-right {
    position: absolute;
    left: 0em;
    top:150px;
    }    
    #img-tablet {
        width: 36%;
        margin-top: 25%;
    }
    #img-second-tablet {
        width: 36%;
    }
    img.img-responsive.yop {
    right: 315px;
    width: 36%;
    top: 215px;
    }
}
/*Media queries responsive*/

@media screen and (max-width: 800px) {
  .img-responsive {
    display:none;
  }
  .titre {
    margin: 0;
    font-size: 30px;
  }
  .bloc-left {
    height: 65px;
    margin-top: -50px;
    }
.col-sm-2 {
    float:none;
    margin:0;
    }
.bloc-right {
    position: absolute;
    left: 0em;
    top:150px;
    }
    .container {
     padding: 0;
    margin:auto;
    }
    img.img-bot {
    width: 100%;
    display: block;
    }
    .responsive-rs {
        text-align: center;
    }
.decalage {
    margin-left: 0px;
    }
}