{% extends "AppBundle:Default:index.html.twig" %}

{% block title %}Voyage {% endblock %}
{% block head %}
    {% stylesheets 'bundles/app/css/liste.css' output='compiled/css/liste.css' filter='cssrewrite' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">

            </div>

            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">

            </div>

        </div>

    </div>
















{% endblock %}