{% extends 'AppBundle:Default:index.html.twig' %}

{% block title %}Nous rejoindre{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('assets/app/css/construction.css') }}">
{% endblock %}

{% block body %}
    <img src="{{ asset("assets/app/images/picto-construction.png") }}" alt="avion" class="img-responsive centree"/> 
     <img src="{{ asset("assets/app/images/machette.png") }}" alt="avion" class="img-responsive centree machette"/> <br>
     <p class="text-construction">Page actuellement <br>en cours de création </p>
{% endblock %}

{% block footer %}{% endblock %}